body {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.texto-centralizado-2 {
    position: absolute;
    /* ✅ agora existe */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkorchid;
    padding: 10px;
}

.alinhado-margin-auto {
    display: block;
    margin: auto;
}

.alinhado-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btn {
    width: 250px;
    height: 50px;
    background-color: darkcyan;
    color: white;
    font-size: 1.2em;
}

.texto-centralizado-1 {
    width: 250px;
    height: 250px;
    background-color: darkorange;
    text-align: center;
    line-height: 250px;
}

.texto-centralizado-2 {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: darkorchid;
}