* {
    margin: 0;
}

.elemento {
    color: aqua;
    width: 200px;
    height: 200px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.elemento-estatico {
    left: 100px;
    background-color: red;
}

.elemento-absoluto {
    position: absolute;
    /* Remove o elemento do fluxo normal do documento */
    background-color: blue;
    left: 100px;
}

.elemento-relativo {
    position: relative;
    /* Permite deslocamento em relação à sua posição original */
    background-color: green;
    left: 100px;
}

.elemento-absoluto-com-pai {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: orange;
    top: 0;
    right: 0;
}

.elemento-relativo-com-filho {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: purple;
    top: 0;
}