body {
    background-color: whitesmoke;
}

.cabecalho {
    padding: 10px 5px;
    background-color: mediumaquamarine;
}

/* ERRO: .logo não existia no HTML */
/* CORREÇÃO: agora existe */
.cabecalho .logo {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 15px;
}

main {
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
}

main .info {
    font-size: 18px;
}

main p {
    font-size: 16px;
}

/* ERRO: classe .imagem no CSS estava diferente do HTML */
/* CORREÇÃO: padronizado */
.imagem img {
    width: 100%;
    height: auto;
}

@media (max-width: 576px) {
    .cabecalho nav {
        background-color: blue;
        float: none;
    }
    .cabecalho nav li {
        display: block;
        text-align: center;
        padding: 10px;
    }
}
