* {
    margin: 0;
}

body {
    height: 1500px ;
    padding-top: 80px;
}

header {
    font-size: 24px;
    position: fixed;
    background-color: lightblue;
    width: 100%;
    padding: 25px;
    text-align: center;
    top: 0;
}