* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: rgb(166, 228, 149);
    font-size: 24px;
    font-weight: bold;
}

.bg {
    background-color: lightgreen;
    background-image: url('./images/fundo.jpg');
}

.bg-image {
    width: 530px;
    height: 340px;
}

.bg-repeat {
    background-repeat: no-repeat;
    height: 540px;
}

.bg-size-cover {
    background-size: cover;
    height: 540px;
}

.bg-fixed {
    background-attachment: fixed;
    height: 540px;
}

.bg-position {
    background-position: left;
    height: 540px;
}