
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-transform: none;
}

p {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700px;
    font-style: normal;
    font-size: 25px;
}