@font-face {
    font-family: 'Milky';
    src: url('./fonts/Milky-Regular.woff2') format('woff2'),
         url('./fonts/Milky-Regular.woff') format('woff'),
         url('./fonts/Milky-Regular.otf') format('opentype');
}
body {
    background-color: #f9f9f9;
    font-family: 'Milky', sans-serif !important;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Milky', sans-serif !important;
    font-size: 3em;
    color: #333;
    text-align: center;
    margin-top: 50px;
}

p {
    font-family: 'Milky', sans-serif !important;
    font-size: 1.2em;
    color: #666;
    line-height: 1.6;
    max-width: 600px;
    margin: 20px auto;
    text-align: justify;
}