* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    /* list-style-image: url('./images/olho.png') */
    list-style: square inside url('./images/osdlho.png');
    background-color: aquamarine;
}

ul li {
    border: 1px solid #000;
    padding: 5px;
}

ol {
    list-style-type: decimal-leading-zero;
    border: #000 2px solid;
    background-color: lightgreen;
    padding: 10px;
}